# Gradle
.gradle/
build/
.kotlin/
app/build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Android build files
*.aab
*.apk
output-metadata.json

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# Logs / OS files
*.log
.DS_Store

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android profiling
*.hprof